body {
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genius {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-areas: 
        'green-btn red-btn' 
        'yellow-btn blue-btn';
    grid-gap: 15px;
    border-radius: 100%;
    background-color: black;
}

.green {
    grid-area: green-btn;
    background-color: green;
    border-top: 15px solid black;
    border-left: 15px solid black;
    border-top-left-radius: 100%;
}

.red {
    grid-area: red-btn;
    background-color: red;
    border-top: 15px solid black;
    border-right: 15px solid black;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow-btn;
    background-color: yellow;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    border-bottom-left-radius: 100%;
}

.blue {
    grid-area: blue-btn;
    background-color: blue;
    border-right: 15px solid black;
    border-bottom: 15px solid black;
    border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.5;
}