* {
    margin: 0;
    padding: 0;
}

body {
    height: 95vh;
    width: 95vw;
    display: flex;
    font-family: arial;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(44, 139, 44);
}

h1 {
    margin-top: 30px;
}

img {
    height: 30px;
}

p {
    width: 512px;
    margin: 10px;
    text-align: left;
    font-weight: bold;
}

span {
    color: red;
}