@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .title {
        height: 100px;
    }

    .buttton {
        margin-top: 5px;
        width: 200px;
    }
    
}

@media screen and (min-width: 1000px) {
    .description {
        width: 50%;
    }
}