@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(7, 1, 24);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-game {
    height: 680px;
    width: 1100px;
    border: 4px solid white;
    border-radius: 10px;
    overflow: hidden;
    background-image: url(../img/space.png);
}

.game-info, .game-over {
    height: 200px;
    width: 500px;
    margin: auto;
    margin-top: 170px;
    
    padding: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    
    border: 4px solid grey;
    border-radius: 30px;
    position: relative;
    
    background-color: white;
}

.start {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
}

.start:hover {
    color: grey;
}

.score-game {
    margin-top: 10px;
    margin-right: 10px;
    text-align: end;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
}

.player {
    height: 97px;
    width: 74px;
    top: 270px;
    left: 40px;
    position: relative;
    background: url('../img/ship.png');
}

.laser {
    height: 9px;
    width: 37px;
    position: relative;
}

.alien, .dead-alien {
    height: 122px;
    width: 124px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    opacity: 0;
}

.bg-animation {
    animation: bg-animation 10000s infinite linear;
    background-repeat: repeat-x;
}

@keyframes bg-animation {
    from { background-position: 0 }
    to { background-position: 100000% }
}
